# ===== Python =====
venv/
env/
api_env/
__pycache__/
*.pyc
*.pyo

# ===== Environment =====
test_groq.py
.env
.env.*

# ===== Node =====
node_modules/
dist/
build/
.vite/

# ===== OS =====
.DS_Store
Thumbs.db

backend/.venv/
